@model List<Student>

<h1>Student List</h1>

<table>
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <th>@student.FirstName</th>
                <th>@student.LastName</th>
                <th>@student.Age</th>
            </tr>
        }
      
    </tbody>
</table>