<div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item">Giyim</li>
        <li class="list-group-item">Elektronik</li>
        <li class="list-group-item">Gıda</li>
    </ul>
</div>