@using _06_Custom_Helpers.Helpers

<div class="text-center">
    @StringHelper.CapitalizeWord("hello world from custom helpers")
    <br />
    @StringHelper.WordsLength("Tahsin Canpolat")
    <br />
    @ViewBag.Message
</div>
