@model Product

<h1>Product Detail</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Price)</td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Index" class="btn btn-sm btn-secondary">Back to Product List</a>
</div>