@model Product

<h1>Edit Product</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Product" method="POST">
            <div class="form-group">
                <input type="hidden" asp-for="ProductId" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-select">
                    <option value="1">Elektronik</option>
                    <option value="2">Gıda</option>
                    <option value="3">Tekstil</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-sm btn-info mt-3">Back to Product List</a>
</div>